/* Set the text color */
body {
  color: white;
}

/* Set the background color to grey*/
body {
  background-color: #444;
  border: 1px solid lightgray;
}

/* Add a horizontal line under H1 elements*/
h1 {
  border-bottom: 3px white;
}
